@model List<TSC_WEB.Models.Entidades.Corte.LiquidacionRectilineos.ReporteIngresoRectilineosAlmacenEntidad>
@using TSC_WEB.Models.Entidades.Corte.LiquidacionRectilineos;


@{
    ViewBag.Title = "Reporte Ingreso de Rectilineos";
    ViewBag.Modulo = "Almacenes";
    Layout = "~/Views/Plantillas/_Layout.cshtml";

    int cantregistros = Model.Count;
    // LISTA GENERAL
    var lista = cantregistros > 0 ? Model.GroupBy(
            grp => new
            {
                grp.partidatela,
                grp.partidarectilineo,
                grp.tiporectilineo
            }
        ).Select(sel => new ReporteIngresoRectilineosAlmacenEntidad
        {
            partidatela = sel.First().partidatela,
            partidarectilineo = sel.First().partidarectilineo,
            tiporectilineo = sel.First().tiporectilineo

        }).ToList() : new List<ReporteIngresoRectilineosAlmacenEntidad>();

    lista = lista.Distinct().ToList();

    // TALLAS
    var tallas = cantregistros > 0 ? Model.GroupBy(
            grp => new
            {
                grp.orden,
                grp.talla
            }
       )
       .Select(cl => new ReporteIngresoRectilineosAlmacenEntidad
       {
           talla = cl.First().talla,
           orden = cl.First().orden
       }).OrderBy(or => or.orden).ToList() : new List<ReporteIngresoRectilineosAlmacenEntidad>();


}

<div class="card">

    <div class="card-body">

        <table class="table table-bordered table-hover table-sm text-center" id="tablegeneral" style="width:100% !important">
            <thead class="thead-light">
                <tr>
                    <th rowspan="2" class="border-table align-vertical">Partida Tela</th>
                    <th rowspan="2" class="border-table align-vertical">Partida Rectilineo</th>
                    <th rowspan="2" class="border-table align-vertical">Tipo Rectilineo</th>
                    <th colspan="@tallas.Count" class="border-table">Primeras</th>
                    <th colspan="@tallas.Count" class="border-table">Segundas</th>
                </tr>   
                <tr>
                    @* PRIMERAS *@
                    @foreach (var talla in tallas)
                    {
                        <th class="border-table text-center">@talla.talla</th>
                    }
                    @*SEGUNDAS*@
                    @foreach (var talla in tallas)
                    {
                        <th class="border-table text-center">@talla.talla</th>
                    }
                </tr>
            </thead>
            <tbody>

                @foreach (var item in lista)
                {

                    <tr>

                        <td>@item.partidatela  </td>
                        <td>@item.partidarectilineo  </td>
                        <td class="border-table-right">@item.tiporectilineo  </td>

                        @*PRIMERAS*@
                        @foreach (var talla in tallas)
                        {


                            var primeras = Model.Where(
                                fil => fil.talla == talla.talla &&
                                fil.partidatela == item.partidatela &&
                                fil.partidarectilineo == item.partidarectilineo &&
                                fil.tiporectilineo == item.tiporectilineo
                            ).FirstOrDefault();

                            <td class="">
                                @primeras.cantidadprimera
                            </td>
                        }

                        @*SEGUNDAS*@
                        @foreach (var talla in tallas)
                        {


                            var segundas = Model.Where(
                                fil => fil.talla == talla.talla &&
                                fil.partidatela == item.partidatela &&
                                fil.partidarectilineo == item.partidarectilineo &&
                                fil.tiporectilineo == item.tiporectilineo
                            ).FirstOrDefault();

                            <td class="">
                                @segundas.cantidadsegunda
                            </td>
                        }

                    </tr>

                }

            </tbody>
        </table>


    </div>

</div>



@section scripts{

    <script>

        setDataTableSimple("general",false,false,true);


    </script>

}

